# compression directives
SetOutputFilter DEFLATE

<IfModule mod_deflate.c>
	<filesMatch "\.(js|css|html|php|xml|svg)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>

# Turn off ETags
Header unset ETag
FileETag None

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
Header set Cache-Control "max-age=259200, public"
</FilesMatch>

<FilesMatch "\.(css)$">
Header set Cache-Control "max-age=259200, public"
</FilesMatch>

<FilesMatch "\.(js)$">
Header set Cache-Control "max-age=216000, public"
</FilesMatch>

<Files .htaccess>
deny from all
</Files>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule .? - [E=Authorization:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
</IfModule>
